.header {
    min-height: 100vh;
    background-color: $color-primary;
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
    display: grid;
    align-items: center;
    padding: 100px 0;
}
